@model BudgetKeeper.Domain.Entities.BudgetItem
@using BudgetKeeper.Domain.Entities
@{
}

<div class="form-group">
    Debt Name: <input asp-for="@Model.DebtName" />
</div>
<br />
<div class="form-group">
    Debt Amount: <input asp-for="@Model.DebtAmount" />
</div>
<br />
<div class="form-group">
    Monthly Payment: <input asp-for="@Model.MonthlyPayment" />
</div>

<div class="form-group">
    Is Open: <input type="checkbox" asp-for="@Model.IsOpen" />
</div>

<div class="form-group">
    Debt Type: <select id="budgetTypeDropdown" asp-for="@Model.BudgetType" asp-items="Html.GetEnumSelectList<BudgetType>()" >
                    <option selected="selected" value="">Please select</option>
               </select>
</div>